{
  "presets": ["es2016", "stage-1", "env"],
  "plugins": [
    "styled-components",
    "transform-flow-strip-types",
    "transform-react-jsx",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "src": "./src",
        "test": "./test"
      }
    }]
  ]
}
